body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-color: var(--el-bg-color-overlay);
  background-image: linear-gradient(var(--el-color-info-light-9) 1px,transparent 0),linear-gradient(90deg,var(--el-color-info-light-9) 1px,transparent 0);
  background-size: 30px 30px,30px 30px;
}

a {
  text-decoration: none;
  color: var(--el-color-primary);
}
.pkg {
  cursor: pointer;
  transition: background-color .05s;
}
.pkg:hover {
  background-color: var(--el-color-primary-light-9);
}
.key {
  color: var(--el-color-primary-dark-2);
}
.value {
  padding-left: 8px;
  color: var(--el-color-success-dark-2);
  line-height: 22px;
}
